<config>
	<filetypes>
		<type name='documents' include='true' directory='Documents'>document_extensions</type>
		<type name='web' include='true' directory='Web'>web_extensions</type>
		<type name='video' include='true' directory='Video'>video_extensions</type>
		<type name='images' include='true' directory='Images'>image_extensions</type>
		<type name='audio' include='true' directory='Audio'>audio_extensions</type>
		<type name='executables' include='true' directory='Executables'>executable_extensions</type>
		<type name='misc' include='true' directory='Misc'/>
	</filetypes>
	<handlers>
		<handler type='indexer' enable='true' url='http://localhost:8983/solr'>
			<include>documents web</include>
		</handler>
		<handler type='hasher' enable='false'/>
	</handlers>
</config>
